<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <h2>Hello Mathilde</h2>
        <p>Please edit your set:</p>
      </div>
      <div class="new-set">
        <%= render 'shared/form', movie_set: @movie_set %>
      </div>
    </div>
  </div>
</div>
