<div class="container">
  <div class="main">
    <div class="divider">
      <h2>SETS</h2>
      <p>of your dreams</p>
    </div>
    <div class="cards">
      <% @movie_sets.each do |movie_set| %>
        <div class="card-trip">
            <%= link_to movie_set_path(movie_set) do %>
            <%= cl_image_tag movie_set.photos.first.key, class: "card-trip-img" %>
            <% end %>
          <div class="card-trip-infos">
            <h2><%= movie_set.title %></h2>
            <p><%= movie_set.address %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="https://res.cloudinary.com/ddlesqeup/image/upload/v1574110334/step1.svg" alt="Card image cap">
  <div class="card-body">
    <div class="flag-1">
      <span>1</span>
    </div>
    <h5 class="card-title">Browse our list of sets</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Powered with 💗 from 321</small>
  </div>
</div>
