<div class="container">
<h1>Lorem ipsum</h1>
  <div class="cards">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Name</h2>
          <p>Location</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Name</h2>
          <p>Location</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Name</h2>
          <p>Location</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Name</h2>
          <p>Location</p>
        </div>
      </div>
    </div>

  </div>
