<div class="container">
  <div class="row">
    <div class="col-new">
      <div class="header">
        <h2>Hello <%= current_user.first_name %></h2>
        <p>Please add a new movie set:</p>
      </div>
      <div class="new-set">
        <%= render 'shared/form', movie_set: @movie_set %>
      </div>
    </div>
  </div>
</div>
