<p class="notice"><%= notice %></p>

<% if alert == "You added a new show!" %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong><%= alert %></strong> 🎉 you successfully signed in to our service.</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% else %>
  <p class="alert"><%= alert %></p>
<% end %>
