<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(35,53,103,0.4)), url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1340&q=80);">
  <div class="container">
    <h1>Immerse yourself in the film or series of your choice</h1>
    <p>Live again the greatest scenes of your life!</p>
    <div class="search-box">
        <%= simple_form_for :search, url: movie_sets_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
  <% end %>
    </div>
  </div>
</div>
<div class="main">
    <div class="divider">
      <h2>LIVE</h2>
      <p><em>your set</em></p>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/ddlesqeup/image/upload/v1574110334/step1.svg" alt="Card image cap">
        <div class="card-body">
          <div class="flag-1">
            <span>1</span>
          </div>
          <h5 class="card-title">Browse our list of sets</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Powered with 💗 from 321</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/ddlesqeup/image/upload/v1574110334/step2.svg" alt="Card image cap">
        <div class="card-body">
          <div class="flag-2">
            <span>2</span>
          </div>
          <h5 class="card-title">Select the set of your dreams</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Powered with 💗 from 321</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/ddlesqeup/image/upload/v1574110334/step3.svg" alt="Card image cap">
        <div class="card-body">
          <div class="flag-3">
            <span>3</span>
          </div>
          <h5 class="card-title">Book it quickly and safely</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Powered with 💗 from 321</small>
        </div>
      </div>
    </div>
</div>
