.card-dashboard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 90%;
}

.card-dashboard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dashboard .card-dashboard-infos {
  padding: 16px;
}

.justify-dashboard {
  display: flex;
  justify-content: space-between;
  width: 990px;
  align-items: center;
}

.status {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.total_price {
  font-size: 1.5rem;
  font-weight: 800;
}

.badge-secondary {
  background-color: $blue-lys;
}

.badge-primary {
  background-color: $pink-lys;
}

.card-dashboard-infos-movies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.card-global {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-update {
  margin-left: 1rem;
}

.movies {
  display: grid;
  grid-template-columns: 18rem 18rem 18rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: auto;
}

#pills-tab {
  margin-top: 1rem;
}
