.form-devise {
  background: white;
  margin-top: 2rem;
  padding-top: 1rem;
}

.form-inputs {
  padding-top: 1rem;
}

.form-actions input[type='submit'] {
  width: 100%;
}

.devise-links {
  padding: 1rem 0;
}

.cancel-account {
  padding: 2rem 0;
}
