.form-devise {
  background: white;
  margin-top: 2rem;
  padding-top: 1rem;
}

.form-inputs {
  padding-top: 1rem;
}

.form-actions input[type='submit'] {
  width: 100%;
  margin: 0 auto;
}

.devise-links {
  padding: 1rem 0;
}

.cancel-account {
  padding: 2rem 0;
}

.col-new {
  background: white;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.new-set {
  padding-top : 2rem;
  position: relative;
}

.btn-primary {
  color: #fff;
  background-color: $navy-blue-lys;
  border-color: $navy-blue-lys;
  width: 70%;
  margin: 1rem auto;
}

.btn-primary:hover {
  color: #fff;
  background-color: $navy-blue-lys;
}

// .form-group {
//   width: 70%;
//   margin: 1rem auto;
// }


.set_details h3 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.set_charact {
  margin-top: 4rem;
}

.set_charact h3 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-top: 1rem;
}

.bubble1 {
  width: 70px;
  height: 70px;
  background-color: aquamarine;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 759px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.bubble2 {
  width: 70px;
  height: 70px;
  background-color: aquamarine;
  border-radius: 50px;
  position: absolute;
  top: 450px;
  right: 759px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.movie_set_title {
  width: 70%;
  margin: 1rem auto;
}

.movie_set_description {
  width: 70%;
  margin: 1rem auto;
}

.movie_set_media_name {
  width: 70%;
  margin: 1rem auto;
}

.movie_set_photos {
  width: 70%;
  margin: 1rem auto;
}

.movie_set_address {
  width: 70%;
  margin: 1rem auto;
}

.movie_set_price_per_day {
  width: 70%;
  margin: 1rem auto;
}

.textarea {
  height: auto;
  margin: 0;
}

#button-continue-container {
  a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: white;
    background-color: $navy-blue-lys;
    padding: 0.25rem 0.5rem;
    &:hover {
      background-color: $blue-lys;
    }
  }
}

#button-create-container {
  margin: 0 auto;
}

