.cards {
  flex-grow: 2;
  display: grid;
  grid-gap: 16px;
  padding: 1rem;
  padding-top: 0;
  width: 1100px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 280px;
}

.card-trip .card-trip-img {
  height: 150px;
  width: 100%;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 10px 0 0 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
}

.results {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.results p {
  font-size: 1.25rem;
}

.search-index {
  padding: 0 1rem;
}
