.content {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.map {
  padding-top: 0;
  width: 100%;
}

/*needed for old page, remove after merge of new frontend module*/
#gmap_map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  font-size: 12px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(200, 200, 200);
}

.mapboxgl-popup-content a {
  color: $navy-blue-lys;
  text-decoration: none;
  font-size: 1rem;
}

.mapboxgl-popup-content a:hover {
  text-decoration: none;
}
