#show-movie-set-title {
  // width: 1000px;
}

#show-movie-set-description {
  // width: 1000px;
}

.fas {
  margin-right: 30px;
  margin-bottom: 30px;
}

.fa-arrow-left {
  margin-left: 50px;
  margin-top: 30px;
}

.booking-card {
  margin-left: 50px;
  margin-top: 50px;

}

.box-description {
  display: flex;
  margin-bottom: 30px;
}

.description-card {
  margin-right: 30px;
}
