#show-movie-set-title {
  // width: 1000px;
}

#show-movie-set-description {
  // width: 1000px;
}

.fa-map-marked-alt {
  margin-right: 30px;
}


.fas {
  margin-bottom: 30px;
}

.fa-arrow-left {
  margin-left: 50px;
  margin-top: 30px;
}

.booking-card {
  margin-left: 50px;
  margin-top: 50px;

}

.box-description {
  display: flex;
  margin-bottom: 30px;
  text-align: center;

}

.description-card {
  margin-right: 30px;
  width: 500px;
  padding: 20px;
  text-align: center;

}

.description-icon {
  font-size: 2em;

}
